{% extends 'base.html.twig' %}

{% block title %}Advisora | {{ 'event.cart_confirmed.meta_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/project-management.css') }}">
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block body %}
<div class="cart-shell">
    <div class="cart-confirmed">
        <div class="cart-confirmed-icon">?</div>
        <h1>{{ 'event.cart_confirmed.heading'|trans }}</h1>
        <p>{{ 'event.cart_confirmed.text'|trans }}</p>
        <p class="cart-confirmed-sub">{{ 'event.cart_confirmed.subtext'|trans }}</p>
        <div class="cart-confirmed-actions">
            <a class="pm-btn pm-btn-primary" href="{{ path('event_my_bookings') }}">
                <i class="fas fa-ticket"></i> {{ 'event.cart_confirmed.view_bookings'|trans }}
            </a>
            <a class="pm-btn pm-btn-secondary" href="{{ path('event_index') }}">
                {{ 'event.cart_confirmed.back_events'|trans }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
